* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  max-width: 100vw;
}

body {
  background-image: url("./assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(238, 237, 237, 0.385);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  width: 60vw;
  min-height: 20rem;
  padding: 3rem;
  text-align: center;

  border: 1px solid rgb(33, 37, 39);
  border-radius: 15px;
  box-shadow: 0 0 5px 0px black;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search_container {
  height: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.search_container input {
  height: 100%;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  border: 1px solid rgb(33, 37, 39);
  font-size: 1.5rem;
  color: rgb(87, 87, 87);
}

#search{
  height: 100%;
  width: 5rem;
  border-radius: 5px;
  border: 1px solid rgb(33, 37, 39);
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s ease-in-out;
}

#search:hover {
  background: rgba(255, 72, 0, 0.184);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  user-select: none;
}

.word-title {
  font-size: 2rem;
  text-transform: uppercase;
}

.definition {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(33, 37, 39);
  border-radius: 5px;
  padding: 1rem;
}

.extra-details {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-weight: bolder;
}

.globe {
  margin-top: 3rem;
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
  filter: drop-shadow(8px 2px 2px rgb(21, 23, 24));
  animation: round 2s infinite linear;
}

.errorWord {
  margin-top: 2rem;
  font-size: 2rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(33, 37, 39);
  border-radius: 5px;
  padding: 1rem;
}

@keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
